* {
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  background-color:rgb(23, 23, 23);
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  /* border: 1px solid rgb(56, 56, 56); */
}

/* NAVBAR CSS*/
.main__nav {
  background-color: rgb(244, 76, 76);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__logo {
  padding: 5px;
}

.main__title {
  margin-left: 10px;
  font-weight: 600;
  display: flex;
  font-size: larger;
  color: white;
}
/* END NAVBAR CSS */

/* ================= */

/* MAIN CARD CSS*/
.main__wrapper {
  background-color: white;
}

.main__container {
  margin: 45px;
  padding: 5px;
  /* border: 1px solid rgb(56, 56, 56); */
}

.main__card {
  margin: 0px 0px 0px 0px;
  padding: 5px;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.column {
  flex: 90%;
}
.column__image {
  flex: 10%;
}

.main__card-image {
  margin: 2px 15px 0px 0px;
  object-fit: cover;
  width: 180px;
  height: 268px;
  border-radius: 10px;
}

.main__card-country {
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  margin: 0;
}

.main__card-gmaps {
  margin-left: 10px;
}

.main__card-title {
  font-size: 2rem;
  margin: 0px 0px 12px 0px;
  padding: 0;
  font-weight: 700;
}

.main__card-duration {
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

.main__card-description {
  max-width: 50rem;
  margin-top: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

.main__hor-line{
  margin-bottom: 20px;
}
/* END MAIN CARD CSS */


/* FOOTER CSS*/

.main__footer {
  margin: 0;
  background-color: rgb(244, 76, 76);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: white;
  font-size: larger;
}

.main__footer a {
  color: white;
}

/* END FOOTER CSS */


@media only screen and (max-width: 600px) {
  .main__nav {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .main__card {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .main__card-title {
    font-size: 1.5rem;
  }
  .main__card-description {
    font-size: 0.9rem;
  }
}